<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="admin" route_prefix="awarded-medals" format=":int&lt;awarded_id&gt;/" controller="Xfrocks\Medal:Awarded" context="bdMedalAwardeds"/>
  <route route_type="admin" route_prefix="medal-categories" format=":int&lt;category_id&gt;/" controller="Xfrocks\Medal:Category" context="bdMedalCategories"/>
  <route route_type="admin" route_prefix="medals" format=":int&lt;medal_id&gt;/" controller="Xfrocks\Medal:Medal" context="bdMedalMedals"/>
  <route route_type="public" route_prefix="medals" controller="Xfrocks\Medal:Medal" context="help"/>
</routes>
