<xf:if is="$medals is not empty">
    <div class="block">
        <div class="block-container">
            <ol class="block-body">
                <xf:foreach loop="$categories" value="$category">
                    <xf:if contentcheck="true">
                        <li class="block-row">
                            <h2 class="block-textHeader">{$category.name}</h2>
                            <xf:if is="$category.description">
                                <div class="description">{$category.description|raw}</div>
                            </xf:if>
                        </li>

                        <xf:contentcheck>
                            <xf:foreach loop="$medals" value="$medal">
                                <xf:if is="$medal.category_id === $category.category_id">
                                    <li class="block-row block-row--separated">
                                        <div class="contentRow">
                                            <span class="contentRow-figure">
                                                <xf:macro template="bdmedal_macros" name="image"
                                                          arg-medal="{$medal}"/>
                                            </span>
                                            <div class="contentRow-main">
                                                <h3 class="contentRow-header">{$medal.name}</h3>
                                                <div class="contentRow-minor">{$medal.description|raw}</div>

                                                <div class="contentRow-extra">
                                                    <a href="{{ link('medals/users', null, {'medal_id': $medal.medal_id}) }}"
                                                       data-xf-click="overlay">
                                                        {{ phrase('bdmedal_awarded_count') }}:
                                                        {$medal.user_count|number_short}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </xf:if>
                            </xf:foreach>
                        </xf:contentcheck>
                    </xf:if>
                </xf:foreach>
            </ol>
        </div>
    </div>

    <xf:else/>
    <div class="blockMessage">{{ phrase('bdmedal_no_medals_have_been_created_yet') }}</div>
</xf:if>
